<section class="container section">
  <h1> <%= @author.first_name %> </h1>
</section>
<section class="section container">
  <table>
    <thead>
    <tr>
      <th>
        Title
      </th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
    <% next if @author.books.exists? book.id %>
      <tr>
        <td> <%= book.title %> </td>
        <td> <%= link_to 'Add this author to this book',
                         book_author_path(@author, book_id: book.id),
                         method: :post %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>