<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Thanks</h5>
        <p class="grey-text text-lighten-4">Actually the developer is reading Clean Code and Extreme Programming 
        and tried to apply some of the principles of both books.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"><%= link_to link_name_leave_or_enter_admin_area, enter_leave_admin_area, class: 'white-text' %></h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2022 Paulo Souza
      <a class="grey-text text-lighten-4 right" href='https://github.com/Pauloparakleto/bookstore' target="_blank">GitHub Repository</a>
    </div>
  </div>
</footer>