<main class='container section'>
  <h4 class="grey-text">Book</h4>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> <%= @book.title %> </td>
      <td> <%= @book.price %> </td>
      <td> <%= @book.quantity %> </td>
    </tr>
    </tbody>
  </table>
</main>
<section class='container section right-align'>
  <div class='waves-effect waves-light btn'>
    <%= link_to 'Add to Cart', add_book_users_orders_path(book: {id: @book.id}), method: :post, class: 'white-text' %>
  </div>
</section>
<section class='container section'>
  <h5>Description</h5>
  <p> Viewed as too libelous to print in England until 1968, the title essay in this collection reveals the abuse Orwell experienced as a child at an expensive and snobbish boarding school and offers insights into his lifelong concern for the oppressed.

  "Why I Write" describes Orwell's sense of political purpose, and the classic essay "Politics and the English Language" insists on clarity and precision in communication in order to avoid the Newspeak later described in 1984.
  
  Other essays focus on Gandhi (he "disinfected the political air"), Dickens ("no novelist has shown the same power of entering into the child's point of view"), Kipling ("a jingo imperialist"), Henry Miller (who told Orwell that involvement in the Spanish war was an act of an idiot), and England "a family with the wrong members in control").
  ©1954 Double Day Inc. (P)1994 Blackstone Audio, Inc. </p>
</section>
